/*-----------------Base-------------------*/

:root {
  --azul: #2A7AE4;
  --azul-claro-bg: #EAF2FD;
  --cinza-claro-bg: #EDEDED;
  --branco: #FFFFFF;
  --cor-fonte-geral: #464646;
  --fonte-campos-formulario: #A2A2A2;
  --Raleway: 'Raleway', sans-serif;

}

body {
  font-family: var(--Raleway);
  color: var(--cor-fonte-geral);
  max-width: 1440px;
}

header {
  /* background-color: var(--cinza-claro-bg); */
  height: 520px;
  color:var(--cor-fonte-geral);
  background: url("D:/Pedro/One Alura/Desafio Front End/Imagem/banner.jpg");
  background-position: center top;
  color: var(--branco);
}

/*-----------------Cabecalho---------------*/

.cabecalho__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 88px;
  margin-bottom: 32px;
}

.ul-link {
  display: flex;
  justify-content: space-between;
  margin-right: 152px;
}

.cabecalho__link {
  margin-right: 32px;
  font-weight: 500;
  padding: 8px;
  background-color: #ffffff80;
  border-radius: 5px;
}

.cabecalho__link-contato {
  font-weight: 700;
  padding: 8px;
  background-color: #00000080;
  border-radius: 5px;
}

.nome {
  margin-left: 152px;
  font-weight: 700;
}

/*----------------Apresentação-------------*/

.apresentacao__container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  justify-content: center;
}

.imagem__apresentacao {
  border-radius: 400px 400px 400px 400px;
  max-width: 368px;
  max-height: 368px;
}

.informacoes {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width: 600px;
  margin-right: 70px;
  padding: 8px;
  color: var(--cor-fonte-geral);
  background-color: #ffffff99;
  border-radius: 5px;
}

.saudacao__informacoes {
  font-size: 44px;
  font-weight: 700;
  line-height: 47.05px;
}

.texto__informacoes {
  line-height: 25.83px;
  font-size: 22px;
  font-weight: 500;
  text-align: justify;
  padding-top: 8px;
}

.ul-link-informacoes {
  display: flex;
  justify-content: space-between;
  max-width: 467px;
  font-size: 16px;
  font-weight: 600;
  padding-top: 16px;
}

/*------------------Sobre Mim-----------------*/

.secao__sobre-mim {
  background-color: var(--azul-claro-bg);
  height: 383px;
}

.div__sobre-mim {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  height: 255px;
  padding: 64px 152px 64px 152px;
}

.sobre__mim-titulo {
  font-size: 32px;
  font-weight: 700;
  line-height: 37.57px;
}

.texto__sobre-mim {
  line-height: 20.83px;
  width: 751px;
  height: 133px;
  padding-top: 16px;
  padding-bottom: 50px;
  text-align: justify;
  font-weight: 400;
}

.assinatura {
  transform: rotate(270deg);
  height: 220px;
  width: 80px;
  padding-right: 260px;
  padding-left: 40px;
  padding-bottom: 260px;
  position: absolute;
}

/*------------------Skills----------------------*/

.secao__skills {
  height: 696px;
  background-color: var(--cinza-claro-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lista__skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 32px;
  margin-left: 152px;
  margin-right: 152px;
}

.titulo__skills {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 37.57px;
}

.skills__itens-lista {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 88px;
}

.lista__skills:nth-child(n) li {
  margin-right: 16px;
}

.lista__skills li:last-child {
  margin-right: 0;
}

/*------------------Hobbies----------------------*/

.cartao {
  display: flex;
  flex-direction: column;
  background-color: var(--branco);
  max-width: 176px;
  width: 100%;
  max-height: 174px;
  height: 100%;
}

.item__hobbies {
  width: 176px;
  height: 174px;
}

.lista__hobbies {
  margin-top: 32px;
  height: 244px;  
  margin-left: 152px;
  margin-right: 152px;
}

.titulo__hobbies {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 37.57px;
}

.hobbies__itens-lista {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 88px;
  height: 174px;
}

.lista__hobbies :nth-child(n) li {
  margin-right: 16px;
}

.lista__hobbies li:last-child {
  margin-right: 0;
}

.cartao_hobbie-conteudo {
  display: flex;
  flex-direction: column;
  height: 174px;
}

.texto__hobbie {
  padding-left: 16px;
  padding-bottom: 16px;
  font-weight: 700;
  line-height: 18.78px;
}

.imagem__hobbie {
  width: 32px;
  height: 32px;
  padding-left: 16px;
  padding-bottom: 16px;
  padding-top: 76px;
}

/*------------------Formação-Acadêmica----------------------*/

.secao__formacao-academica {
  background-color: var(--azul-claro-bg);
  height: 581px;
}

.titulo__formacao {
  font-size: 32px;
  font-weight: 700;
  line-height: 37.57px;
  text-align: center;
  padding-top: 82px;
}

.lista__formacao-academica {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-left: 152px;
  margin-right: 152px;
}

.item__formacao-academica {
  margin-right: 16px;
} 

.secao__formacao-academica li:last-child {
  margin-right: 0px;
}

.imagem__formacao-bg {
  width: 368px;
  height: 286px;
}

.item-bloco1 {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
}

.icone__alura {
  position: absolute;
}

.item-bloco2 {
  display: flex;
  flex-direction: column;
}

.texto-formacao {
  font-size: 22px;
  font-weight: 700;
  line-height: 25.83px;
  padding-top: 8px;
}

.texto-ano-formacao {
  font-size: 16px;
  font-weight: 500;
  line-height: 18.78px;
  padding-top: 8px;
}

.bloco-botao-certificado {
  display: flex;
  justify-content: end;
  align-items:center;
  width: 360px;
  padding-top: 8px;
  padding-right: 8px;
  position: absolute;
}

.botao-certificado {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  width: 105px;
  height: 51px;
  background-color: var(--azul);
}

.texto-botao-certificado {
  font-family: Raleway;
  color: var(--branco);
  font-size: 16px;
  font-weight: 400;
  line-height: 18.78px;
  letter-spacing: 0em;
  text-align: left;
}

/*------------------Experiência Profissional----------------------*/

.titulo-secao-experiencia {
  font-size: 32px;
  font-weight: 700;
  line-height: 37.57px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 32px;
}

.secao__experiencia-profissional {
  height: 581px;
  background-color: var(--cinza-claro-bg);
}

.imagem-experiencia-profissional {
  width: 772px;
  height: 426px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.experiencia1 {
  display: flex;
  flex-direction:row;
  align-items: center;
  padding-top: 32px;
  gap: 16px;
  height: 406px;
  margin-right: 152px;
  margin-left: 152px;
}

.botoes-experiencia-profissional {
  display: flex;
  flex-direction:row;
  gap: 8px;
  width: 250px;
  height: 51px;
  padding-top: 8px;
}

.bloco-botao-repositorio {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 116px;
  height: 51px;
  border: 1px solid #2A7AE4;
}

.bloco-botao-ver-demo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 105px;
  height: 51px;
  background: #2A7AE4;
}

.titulo-texto1-experiencia {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
}

.texto1-experiencia {
  text-align: justify;
  padding-top: 8px;
  line-height: 20.83px;
}

.texto2-experiencia {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  padding-top: 8px;
}

.texto3-experiencia {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: left;
  padding-top: 8px;
}

/*------------------Contato----------------------*/

.secao-contato {
  display:flex;
  justify-content: space-around;
  background-color: var(--azul-claro-bg);
  height: 788px;
  width: 100%;
  max-width: 1440px;
}

.div-contato {
  display: flex;
  height: 660px;
  max-width: 1136px;
  width: 100%;
  padding-top: 64px;
  padding-bottom: 64px;
}

.imagem-contato {
  height: 593px;
  width: 464px;
  padding-right: 16px;
}

.parte-formulario {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  height: 596px;
  width: 100%;
  max-width : 656px;
}

.titulo-formulario {
  font-size: 32px;
  font-weight: 700;
  line-height: 37.57px;
  text-align: left;
  margin-bottom: 8px;
}

.texto-formulario {
  font-size: 16px;
  font-weight: 500;
  line-height: 18.78px;
  text-align: left;
}

.caixa-formulario {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 656px;
  height: 397px;
  margin-top: 32px;
}

.campo-email, .campo-assunto {
  gap: 8px;
  width: 656px;
  height: 56px;
  margin-top: 32px;
  border: none;
  border-radius: 4px;
}

.campo-nome {
  gap: 8px;
  width: 656px;
  height: 56px;
  border: none;
  border-radius: 4px;
} 

.campo-mensagem {
  gap: 8px;
  width: 656px;
  height: 133px;
  margin-top: 32px;
  border: none;
  text-align: initial;
  border-radius: 4px;
}

#nome::placeholder,#email::placeholder,#assunto::placeholder,#mensagem::placeholder{
  position: absolute;
  top: 8px;
  left: 12px;
}

.botao-enviar {
  background-color: var(--azul);
  display: flex;
  padding: 16px;
  margin-top: 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
}